@model IEnumerable<Restaurant_Core.Models.DistritoModel>

@{
    ViewData["Title"] = "ListadoDistritos";
}

<h1 class="text-center">Listado de Distritos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo Distrito</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idDistrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomDistrito)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idDistrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomDistrito)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.idDistrito})
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
